.title {
  text-align: center;
}
img {
  width: 25%;
}
body {
  background-color: tan;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.center-columns {
  margin: auto;
  width: 75%;
  padding-bottom: 300px;
  border: 3px solid green;
  box-sizing: 515px 515px;
}
.column {
  float: left;
  width: 33.3%;
  margin: auto;
  box-sizing: border-box;
}