body {
  animation-duration: 5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
} 
.title {
  text-align: center;
}
.underline {
  color: red;
  text-decoration: underline;
}
img {
  width: 25%;
}
body {
  background-color: tan;
}
h2 {
  text-decoration: underline;
  text-align: center;
}
h3 {
  text-decoration: underline;
  text-align: center;
}
@media screen and (min-width: 645px){
.center-columns {
  display: block;
  background-color: gray;
  margin: auto;
  width: 75%;
  padding-bottom: 300px;
  border: 3px solid yellow;
  box-sizing: 515px 515px;
}
}
.column {
  float: left;
  width: 33.3%;
  margin: auto;
  box-sizing: border-box;
}
@media screen and (max-width: 500px) {
  .column {
    background-color: gray;
    width: 100%;
    border: 2px solid yellow;    
  }
}